
$body-bg: #351E2A;
$primary: #2D97CA;
$secondary: #37788B;
$dark: #242027;
$light: #edede3;
$body-color: #edede3;
$yiq-text-dark: #3f3446;
$enable-gradients: true;
$nav-tabs-link-active-color: #2D97CA;
$nav-tabs-link-active-bg: #00000070;
$table-color: #242027;
$table-dark-color: #edede3;
$dropdown-bg: #edede3;
$jumbotron-color: #242027;
$list-group-color: #242027;
$card-color: #edede3;
$card-bg: #242027;
$modal-content-color: #edede3;
$modal-content-bg: #242027;